@model ViewLoginModel

<form asp-action="@nameof(IdentityController.Login)" asp-controller="Identity" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="IsRememberMe"></label>
        <input asp-for="IsRememberMe"/>
    </div>
    <div>
        <a asp-action="@nameof(IdentityController.Register)" asp-controller="Identity">Registration</a>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
